@model ROM.Web.ViewModels.Table.TableDetailsViewModel

<div class="jumbotron">
    <h1 class="page-title animated lightSpeedIn">@Model.RestaurantName - table @Model.Number</h1>
</div>


<div class="col-md-12">

    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 text-center table-img-container">
            <p>@product.Name, @product.Quantity @product.ProductType, @product.Price  </p>

            @Ajax.ActionLink("Add to table", "AddProductToTable", "Table", 
           new { productId = product.Id, tableId = Model.Id },
           new AjaxOptions()
           {
               HttpMethod = "GET",
               AllowCache = false,
               InsertionMode = InsertionMode.InsertAfter,
               UpdateTargetId = "product-container"
           },
           new { @class = "btn btn-primary btn-block" })

        </div>
    }
</div>
<div class="clearfix"></div>


<div class="container ">
    <div class="container">
        <h2>Ordered products</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Product type</th>
                    <th>Quantity</th>
                    <th>Product type</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody id="product-container">
                
            </tbody>
        </table>
    </div>
</div>

@Html.ActionLink("Checkout", "Checkout", "Table", new { tableID = Model.Id }, new { @class = "btn btn-success pull-right" })